[submodule "ToyBox-frontend"]
	path = ToyBox-frontend
	url = https://github.com/Kyutech-C3/ToyBox-frontend
[submodule "toybox-server"]
	path = toybox-server
	url = https://github.com/Kyutech-C3/toybox-server
